# Default ignored files
/shelf/
/.idea/
/target/
# Datasource local storage ignored files
/../../../../:\Development\course-todo-list\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
